*{
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
form{
    background: rgb(6,206,238);
background: linear-gradient(90deg, rgba(6,206,238,0.9977240896358543) 9%, rgba(0,255,55,1) 100%);
    border: 2px solid black;
    width: 40%;
    margin-top: 10%;
    margin-left: 27%;
    height: 70%;
}
label{
    display: block;
}
input,select{
    margin-left: 20px;
    height: 25px;
    border: 2px solid black;
    color: brown;
    }
select{
    padding-right: 30px;
    height: 28px;
}
button{
    color: white;
    background-color: black;
    padding : 10px;
    margin-left: 250px;
    border-radius: 15px;
}